* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #000;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    font-family: monospace;
    color: rgb(73, 1, 133);
    overflow: hidden;
    background-image: url(./img/join.gif);
}