/* Base styles */
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.parent {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    }
    
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
   
/* Styles */
html {
    height: 100%;
}
body {
    background-color: #000;
    color: white;
    height: 100%;
}
.div1 {
    position: relative;
    border: #fff 3px solid;
    height: 95%;
    width: 85%;
    top: 2.5%;
    left: 8.5%;
}
.div1 .main {
    display: inline-flex;
    position: relative;
    left: 5%;
    top: 3%;
}
.mainside {
    position: relative;
    left: 5%;
    top: 25px;
    display: block;
    list-style-position: inside;
}
.mainside ul {
    padding-left: 10px;
}
.div1 img {
    border: #fff 2px solid;
}
.contact {
    margin-top: 4vh;
    margin-left: 2em;
}

a {
    color: #FB2576;
}


.side {
    position: relative;
    border: #fff 3px solid;
    height: 90%;
    width: 95%;
    top: 5%;
}

.parentss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.divss1 { 
    grid-area: 1 / 1 / 2 / 2;
}

.divss2 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.divss3 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.divss4 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.divss5 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.divss6 { 
    grid-area: 2 / 3 / 3 / 4; 
}
    